* {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
}

body {
  margin: 0;
  background: #f0f2f5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

button {
  display: grid;
  place-items: center;
  background: transparent;
  color: #606770;
  border: 0;
}

button > i {
  font-size: 20px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  width: 100%;
  padding: 0 20px;
  border-bottom: 1px solid #e8e8e8;
  background: #ffffff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

.navbar-logo,
.navbar-avatar {
  width: 40px;
  height: 40px;
}

.navbar-end {
  display: flex;
  gap: 6px;
  flex: 0 0 178px;
}

.icon-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f0f2f5;
}

.navbar-badge {
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 54px;
  background: #e41e3f;
  color: #f9f9f9;
  font-size: 12px;
  padding: 1px 4px;
  border-radius: 10px;
  transition: 0.3s;
}

.navbar-center {
  display: flex;
  flex: 1 1 auto;
  padding: 0 10px;
}

.navbar-center > button {
  flex: 1 1 auto;
  height: 72px;
  padding-top: 4px;
  border-bottom: 4px solid transparent;
}

.navbar-center > button.active {
  border-bottom-color: #1a74e5;
}

.navbar-center > button.active > i {
  color: #1a74e5;
}

.navbar-center > button > i {
  font-size: 24px;
}

.navbar .navbar-end:last-child > button > i {
  color: #050505;
}

@media (width <= 600px) {
  .navbar-end {
    flex: 0 0 auto;
  }

  .navbar-center > button {
    display: none;
  }

  .navbar-center > button:last-child {
    display: block;
    position: absolute;
    left: 110px;
    top: 50%;
    translate: 0 -50%;
  }
}

@media (width <= 400px) {
  .navbar .navbar-end:last-child > button:nth-child(n + 2) {
    display: none;
  }

  .navbar-badge {
    right: 10px;
  }
}
